---
import MainLayout from "../layouts/mainLayout.astro";
---

<mainLayout title="Home" >

<p>Hi jovic form about</p>

</mainLayout>

<style is:global>

p{
    color: red;
    font-size: 300px;
}

</style>
