---
import MainHead from "../layouts/MainHead.astro";

import ".../styles/global.css"

const { title } = Astro.props;
---

<html lang="en">
	
    <MainHead title={title}>
        
    </MainHead>

	<body>
		<slot>
            <h1>hello</h1>
        </slot>
	</body>
</html>
